/* Fonts *
@font-face {
    font-family: 'Noto Serif JP', serif;
    src: url('https://llxyo.github.io/css/fonts/Noto_Serif_JP/NotoSerifJP-Black.woff2') format('woff2'),
    url('https://llxyo.github.io/css/fonts/Noto_Serif_JP/NotoSerifJP-Bold.woff2') format('woff2'),
    url('https://llxyo.github.io/css/fonts/Noto_Serif_JP/NotoSerifJP-ExtraLight.woff2') format('woff2'),
    url('https://llxyo.github.io/css/fonts/Noto_Serif_JP/NotoSerifJP-Light.woff2') format('woff2'),
    url('https://llxyo.github.io/css/fonts/Noto_Serif_JP/NotoSerifJP-Medium.woff2') format('woff2'),
    url('https://llxyo.github.io/css/fonts/Noto_Serif_JP/NotoSerifJP-Regular.woff2') format('woff2'),
    url('https://llxyo.github.io/css/fonts/Noto_Serif_JP/NotoSerifJP-SemiBold.woff2') format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}*/
*,*::before,*::after{
    font-family: inherit;
    background-color: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: calc(0.8em + 0.33vw);
    font-family: Arial, 'Noto Sans JP', sans-serif;
    line-height: 1.6;
    color: #111;
    background-color: #fefefe;
}
template {
  display: none !important;
}
* + * {
    margin-top: 2.25rem;
}
br,dt,dd,th,td,option,[hidden] + *,/*li + li,*/body,.main-and-footer,#main,
p.description,.post_title,div.article,div .eyes, div .eye_head,.ul_toppage{/*[* + *]の不要部分のmargin解除*/
    margin-top: 0!important;
}
p + p {
    margin-top: 0.75rem;
}
.priority {
  margin-top: 0;
}
a {
    text-decoration: none;/*アカウントなどのリンクに必要なので残す*/
    border-bottom: 1px solid;/*別の場所で邪魔な場合はhtmlタグやclassを指定して消す*/
    outline-offset: 2px;
}
abbr {
    text-decoration: none;
    cursor: help;
    border-bottom: 1px dashed;
}
img {
    max-width: 100%;
    max-height: 75vh;
    object-fit: cover;
}
.img-link {
    border-bottom: none;
}
p img {
    margin: 0.75rem 0;
}
figure p img {
    margin: 0;
}
:focus:not([tabindex="-1"]),
[data-expands]:focus svg,
.patterns a:focus .navname,
[for="themer"] :focus + [aria-hidden] {
    outline: none;
}
/* Katex math typesetting */
.katex * {
    margin-top: 0;
    background-color: transparent;
}

/* Fix for IE :( */
[tabindex="-1"]:focus,
div:not([tabindex]):focus {
    outline: none;
}
[hidden] {
  display: none;
}

/* Skip link */
[href="#main"] {
    display: block;
    width: 100%;
    padding: 0.75rem;
    color: #fefefe;
    background: #000;
    position: absolute;
    top: -3rem;
    text-align: center;
    z-index: 1;
}
[href="#main"]:focus {
    top: 0;
    outline: none;
}

/* Text styles */
p.library-desc{
    font-family: 'Noto Serif JP', serif;
    font-size: 1.2rem;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Noto Serif JP', serif;
    line-height: 1.125;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.66rem;
}
main h2{
    font-size: 25px;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 17px;
}
h5 {
    font-size: 0.85rem;
    text-transform: uppercase;
}
h6 {
    font-size: 13px;
}
p {
    font-size: 17px;
    line-height: 27px;
    font-family: Arial, 'Noto Sans JP', sans-serif;
}
@media screen and (max-width: 45rem){/*スマホ表示*/
    p {
        font-size: 15px;
        line-height: 25px;
        font-family: Arial, 'Noto Sans JP', sans-serif;
    }
    main h3,main h2{
        font-size: 1.4rem;
    }
}
.fa{/*ペルシャ語*/
    font-family: 'Noto Nastaliq Urdu', serif;
}
kbd {
    line-height: 1;
    font-size: 0.66rem;
    padding: 0.1rem 0.33rem;
    border-radius: 0.25rem;
    border: 2px solid;
    box-shadow: 0.125rem 0.125rem 0 #111;
    vertical-align: 0.33em;
}
pre,
.file-tree {
    overflow-x: auto;
    padding: 1.5rem;
    border: 1px solid;
}
code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.85em;
}
.cmd {
    padding: 0.75rem;
    background: #111;
}
.cmd code {
    color: #fefefe;
    white-space: nowrap;
}
.cmd code::before {
    content: '$';
    font-weight: bold;
    padding-right: 0.25em;
}

/* Lists */
main li + li {
    margin-top: 0.5rem;
}
main ul ul, main ol ol, main li ul, main li ol {
    margin-top: 0.5rem;
}
ol ol {
  list-style: lower-latin;
}
ol ol ol {
  list-style: lower-roman;
}
main dt {
    font-weight: bold;
}
main dd {
  padding-left: 2rem;
}
dd ul {
  margin-left: 0;
}
dd li + li {
  margin: 0;
}
/* Blockquotes */
blockquote {
  border-left: 0.5rem solid;
  padding-left: 0.75rem;
}
blockquote .author {
  font-size: 0.85rem;
}

/* Buttons */
button {
    font-size: 1.25rem;
    border-radius: 0.33em;
    font-family: inherit;
    background: #111;
    color: #fefefe;
    padding: 0.75rem;
    border: 0;
}
[data-launch] {
  font-size: 0.66rem !important;
  padding: 0.5rem !important;
  margin-top: 0 !important;
  border-radius: 0 !important;
  border-top-left-radius: 0.33rem !important;
  box-shadow: none !important;
  background: #111 !important;
  color: #fefefe !important;
  position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
}

/* Forms */
label {
  display: inline-block;
  font-weight: bold;
}
[for="themer"] {
  background: #111;
  border-radius: 0.33em;
  color: #fefefe;
  padding: 0.25em 0.75em;
  margin: 0.5rem;
}
[for="themer"] [aria-hidden]::before {
  content: 'off';
}
[for="themer"] :checked + [aria-hidden]::before {
  content: 'on';
}

/* Tables */
table {
    text-align: left;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
th,
td {
    border: 2px solid;
    padding: 0.5rem;
    line-height: 1.25;
    margin: 0;
}
th {
    font-weight: bold;
}
th:empty {
    border: 0;
}

/* Tested using... table */
.tested {
    text-align: center;
    border: 1px solid #111;
}
.tested tr {
    display: flex;
    flex-flow: row wrap;
}
.tested td, .tested th {
    vertical-align: middle;
    overflow: hidden;
    flex: 1 0 auto;
    border: 1px solid #111;
}
.tested th {
    width: 100%;
    background-color: #111;
    color: #fefefe;
    outline-color: #111;
}
.tested img {
    max-width: 3rem;
}
.tested span {
    display: block;
    margin: 0;
}
.tested .additional {
    font-size: 0.85rem;
}
caption {
    font-size: 1.125rem;
    padding-bottom: 0.25rem;
    font-style: italic;
}

/* Page structure */
.wrapper {
    position: relative;
    margin-top: 0;
    overflow-x: hidden;
}
/*header:intro-and-nav*/
.intro-and-nav {
    font-size: 0.8rem;
    width: 13rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid;
}
.intro-and-nav > div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.intro {
  flex: 0 0 auto;
}
.patterns {
  flex: 1 1 auto;
}
/*ブログタイトル*/
.logo {
    border: 0;
}
.logo_first{
    color:rgb(90 118 186);
}
.logo_second{
    color:rgb(234 84 107);
    margin-top:0;
}
.logo:hover .logo_first{
    color:rgb(234 84 107);
}
.logo:hover .logo_second{
    color:rgb(90 118 186);
    margin-top:0;
}
.logo img {
    width: 100%;
    max-width: 12rem;
}
.logo_m{
    font-size: 1.5rem;
}
@media screen and (max-width: 45rem){/*PC表示*/
    .logo_m_div {
        width: 80%;
        margin-top: 0.625rem;
        margin-right: 0.625rem;
        left: 12.5%;
        position: absolute;
        background-color: rgb(255,255,255, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 0;
    }
}
/*コンセプトテキスト*/
.top_description2{
    color:#3f7bd4;
    margin-top: 0;
}
.top_description1,.top_description2,.top_description3{
    font-family: 'Noto Serif JP', serif;
    font-size: 1.2rem;
}
.top_description1{
    margin-top: 1rem;
}
.top_description2,.top_description3{
    margin-top: 0;
}
.top_description3{
    margin-bottom: 1rem;
}
@media screen and (max-width: 45rem){/*720px*/
    .top_description1{
    text-align: left;
    margin-top: 0;
    margin-left: 1.5rem;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.7rem;
    }
    .top_description2{
    text-align: center;
    margin-top: 0;
    margin-right: 1.2rem;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.7rem;
    }
    .top_description3{
    text-align: right;
    margin-top: 0;
    margin-right: 0.85rem;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.7rem;
    }
}
.library-desc {
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
}
/* Patterns navigation */
.patterns {
    overflow: auto;
    margin-top: 0;
}
.patterns * {
    margin-top: 0;
}
.patterns h3 {
    font-size: 1rem;
}
.patterns h3 + ul {
    margin-top: 0.75rem;
}
.patterns li {
    line-height: 1.125;
    list-style: none;
}
.patterns li + li {
    margin-top: 0rem;
}
.patterns ul ul {
    margin-left: 0.75rem;
}
.pattern{
    margin-bottom: 0.2rem;
}
.pattern a {
    border: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    font-weight: bold;
    padding: 0 1rem;
}
.pattern:nth-child(1) a:hover span,.pattern:nth-child(3) a:hover span,.pattern:nth-child(5) a:hover span{
    color:rgb(234 84 107);
}
.pattern:nth-child(2) a:hover span,.pattern:nth-child(4) a:hover span,.pattern:nth-child(6) a:hover span{
    color:rgb(90 118 186);
}
.pattern a:focus {
    outline: none;
}
.pattern a span{
    font-family: Arial, 'Noto Sans JP', sans-serif;
}
li.pattern a{
    display: block; 
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.navname{
    margin-left: 0.5rem;
    font-size: 14px;
    width: 3.5rem;
    display: inline-block;
    margin-top: 0;
}
.nav_description{
    font-size: 12px;
    margin-top: 0.25rem !important;
    margin-left: 1rem;
    display: inline-block;
}
/* After */
.pattern [aria-current] {
  background-color: #111;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  color: #fefefe;
}
/* Menu button */
#menu-button{
    display: none;
    width: 15%;
    text-align: center;
}
#menu-button:focus{
    outline: none;
    box-shadow: inset 0 0 0 0.25rem #999;
}
/*スマホ表示のmenuボタン*/
@media screen and (min-width: 45rem){
    .intro_m,.logo_m_div{
        display: none;
    }
}
@media screen and (max-width: 45rem){
    .intro{
        display: none;
    }
    .pattern a{
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .pattern{
        margin-bottom: 0;
    }
    .intro_m{
        min-width: 20rem;
        max-width: 25rem;
        right: 50%;
        margin: 0 auto;
    }
}
.menu-button_m_div{
    margin-right: 0;
    width: 15%;
}


/*******グローバルナビ********/
/******スライドメニュー*******/
@media screen and (min-width:45rem) {
    .slideMenu,.layer,.slideMenuInner,.closeArea_top,.menu-button{
    display: none;
    }
}
@media screen and (max-width:45rem) {/*1*/
    #menu-button{
        margin-top: 0 !important;
        width: 15%;
        text-align: center;
        z-index: 10;
    }
    #menu-button:focus{
        outline: none;
        box-shadow: inset 0 0 0 0.25rem #999;
    }
    #menuButtonInner {
        position: relative;
        width: 100%;
        margin: 0 auto;
        text-align: right;
    }
    .slideButton {
        text-align: center;
        display: inline-block;
        border-radius: 0.33em;
        font-family: inherit;
        background: #111;
        color: #fefefe;
        padding: 0.5rem 0.75rem 0rem 0.75rem;
        border: 0;
    }
    #svg_m{
        height:1rem;
    }
    #slideMenu {
        margin-top: 0!important;
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        z-index: 20;
        top: 0;
        right: -260px;
        width: 260px;
        height: 100%;
        padding: 0;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    }
    #slideMenu > .slideMenuInner {
        position: static;
        width: 100%;
        height: 100%;
        margin-top: 0;
        background-color: rgba(0, 0, 0, 0);
    }
    #slideMenu > .slideMenuInner > li {
        display: block;
        position: relative;
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        border-top: none !important;
    }
    #slideMenu > .slideMenuInner > li a {
        list-style: none;
        font-size: 1rem;
        display: block;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding-left: 1.3rem !important;
        margin-left: 0.7rem;
        background-color: #191e27;/*スライドメニューの背景色*/
        color: #fff;/*スライドメニューの文字色*/
        clip-path: polygon(7% 0%, 100% 0%, 100% 50%, 100% 100%, 7% 100%, 0% 50%);
    }
    #slideMenu > .slideMenuInner > li a svg{
        margin-top: 0 !important;
    }
    #slideMenu > .slideMenuInner > li:hover a {
        background-color: #fff;/*スライドメニューの背景色（マウスホバー時）*/
        color: #333;/*スライドメニューの文字色（マウスホバー時）*/
    }
    #slideMenu > .slideMenuInner > li > a:active {
        opacity: .8;
    }
    #slideMenu > .slideMenuInner > li:hover > ul.second-level {
        display: none;
    }
    .closeArea_top{
        background-color: rgb(234 84 107);/*クローズエリア（スライドメニューの下の部分）の色*/
        cursor: pointer;
        line-height: 1.125;
        list-style: none;
        font-size: 1rem;
        font-family: Arial, 'Noto Sans JP', sans-serif;
        font-weight: 700;
        color: #191e27;
        display: block;
        position: relative;
        z-index: 1;
        width: 90%;
        padding: 1rem 0 1rem 2.3rem;
        margin: 10px 0 10px 0;
        clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%, 0% 50%);
    }
    .closeArea_top span{
        margin-left: 0.2rem;
    }
    .closeArea_top>svg{
        height: 14px;
        width: 14px;
        margin-top: 0;
    }
    .closeArea{
        margin-top: 0;
        height: 100%;
        background-color: #333;/*クローズエリア（スライドメニューの下の部分）の色*/
        cursor: pointer;
    }
    #layer {
        margin-top: 0;
        display: none;
        position: fixed;
        left: -1.5rem;
        z-index: 10;
        top: 0;
        width: 100%;
        height: 150%;
        background-color: #222;/*レイヤーの色*/
        opacity: .4;/*レイヤーの透明度*/
        cursor: pointer;
    }
}


/*main-and-footer*/
.main-and-footer {
    margin-left: 13rem;
}
@media screen and (min-width: 45rem){
    .main-and-footer > div > #main > div.main_ex{
        max-width: 60rem;
        margin: 0 auto;
        padding-top: 3rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
@media screen and (max-width: 45rem){/*スマホviaでカラム幅を広げるが、関連記事だけは除く*/
    .main-and-footer > div > #main {
        margin: 0 auto;
        padding-top: 3rem;
        width: 90%;
    }
}
[role="contentinfo"] {
    font-size: 0.85rem;
    margin-top: 4rem;
    text-align: center;
}

/*共通*/
/*svgアイコン*/
.tag-icon{
    font-family: 'Noto Serif JP', serif;
    line-height: 1.125;
    font-weight: bold;
}
svg > path{
    fill: #fff;
}
#svg_m{
    margin: 0 auto;
}
li{/*リストの点を削除*/
    list-style: none;
}
.left{
    float: left;
    margin-right: 1rem;
}
.clear{
    clear: both;
    margin-top: 0;
}
/*共通*/

/* Tables of contents */
.toc {
    font-size: 0.85rem;
    border: 2px solid;
    padding: 0.5rem;
    margin-top: 1rem !important;
}
#toc-button *{
    display:inline-block;
}
.toc_button_text{
    margin-top: 0;
    font-size: 1rem;
}
.toc ol {
    margin-left: 0.75rem;
    margin-top: 0.5rem;
}
[aria-expanded="true"] + #toc_list {
    display: block;
}
#toc_list{
    display: none;
}
/* Disqus Comments */
#disqus-container {
  text-align: center;
}
#disqus-button {
  width: 100%;
  padding: 0.25em 0.75em;
}
#disqus-comments {
  display: none; 
}

/***Custmoizedカスタム****/
/*タグ一覧_tags.md*/
.patterns-list-taxes {
    column-count:1;/*2で縦列を2行化できる*/
    list-style: none;
    margin-left: 0;
    border-bottom: 3px solid;
    padding-bottom: 4px;
}
.patterns-list-taxes a{/*taxnomiesのレイアウト、リンクの下線を消す*/
    border-bottom: 0;
}
.patterns-list-taxes .tag-icon,.taglist_name{
    font-size: 1.66rem;
}
.taglist_name,.taglist_description{
    font-family: 'Noto Serif JP', serif;
    line-height: 1.125;
    font-weight: bold;
}
.taglist_description{
    font-size: 1.2rem;
    margin-top: 1rem;
    display: inline-block;
}
/*↑↑↑カスタム*/

/* Notes and warnings */
.note {
    border-left: 0.5rem solid;
    font-size: 0.85rem;
}
.note .sign {
    height: 2.25rem;
    width: 2.25rem;
}
.note > div {
    margin-left: 0.75rem;
}
.note > div > img:first-child {
    height: 1.5rem;
}
.note > div >:first-child + * {
    margin-top: 0;
}
.note.warning {
    border-left: 0;
    background-image: url('https://llxyo.github.io/css/images/stripe.svg');
    background-size: 0.5rem auto;
    background-repeat: repeat-y;
}
.note.warning > div {
    margin-left: 1.25rem;
}

/* Tick lists */
.ticks li {
    list-style: none;
    position: relative;
}
.ticks li::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
    background-image: url('https://llxyo.github.io/css/images/icon-tick.svg');
    background-size: 100% auto;
    position: absolute;
    left: -1.25rem;
    top: 0.25rem;
}
@media screen and (max-width: 45rem){
    .ticks li{
        margin-left: 5%;
    }
}
@media screen and (min-width: 45rem){
    .ticks li{
        margin-left: 1.5rem;
    }
}

/* Figures */
figure {
    text-align: center;
}
figcaption {
    font-size: 0.85rem;
    font-style: italic;
    margin-top: 0.5rem;
}
main {
    display: block;
    counter-reset: fig;
    min-height: 100vh;
}
figcaption::before {
    counter-increment: fig;
    /*content: 'Figure ' counter(fig) ':\0020';*/
    font-weight: bold;
}

/* Code blocks */
pre[class*=language-] {
    background: none;
    margin-top: 2.25rem;
    margin-bottom: 0;
    overflow-y: hidden;
    overflow-x: auto;
}
code[class*="language-"], pre[class*="language-"] {
  text-shadow: none;
  /* filter: grayscale(100%); */
}
pre[class*=language-][data-line] {
    padding: 1em 0 0 2.25rem;
}
pre[class*=language-] code * {
    margin-top: 0 !important;
}
[data-codeblock-shortcode], .code-annotated code {
    display: inline-block;
    margin-top: -1rem;
}
.code-annotated {
    overflow-y: hidden;
    overflow-x: auto;
    padding: 1.5rem;
    border: 1px solid;
    white-space: pre;
    counter-reset: annotation;
}
.highlight {
    background: #ddd;
    padding: 0.0625rem 0.33rem;
    border-radius: 0.5rem;
}
.numbered .highlight::after,
.code-annotated.numbered + ol li::before  {
    counter-increment: annotation;
    content: counter(annotation);
    font-weight: bold;
    font-size: 0.5rem;
    background: #111;
    color: #fefefe;
    border-radius: 1rem;
    margin-left: 0.25rem;
    padding: 0.125em 0.5em;
    vertical-align: 0.33em;
}
.code-annotated.numbered + ol {
    list-style: none;
    counter-reset: annotation;
}
.code-annotated.numbered + ol li::before {
    font-size: 0.66em;
    margin-right: 0.33em;
    vertical-align: 0.25em;
}

/* File tree lists */
.file-tree {
    overflow-x: auto;
}
.file-tree ul {
    font-family: Courier, monospace;
    margin: 0;
    padding: 0;
    padding-left: 3rem;
    list-style: none;
    line-height: 1.25;
    position: relative;
}
.file-tree > ul {
    padding-left: 0;
    overflow-x: auto;
    overflow-y: hidden;
}
.file-tree li {
    background: #fefefe;
    position: relative;
    white-space: nowrap;
}
.file-tree li + li {
    margin-top: 0;
}
.file-tree li:not(:last-child) > ul::before {
    content: '\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020\2502\0020';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1em;
    white-space: normal;
}
.file-tree li::before {
    content: '\251C\2500\2500\0020';
}
.file-tree li:last-child::before {
    content: '\2514\2500\2500\0020';
}

/* Expandable sections */
.expandable-section {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 0.75rem 0;
}
[id^="js-expandable-"] {
    margin: 0;
    padding: 1.5rem 0 0.75rem;
}
@media screen {
    .expandable-section + .expandable-section {
        margin-top: 0;
        border-top: 0;
    }
}
[data-expands] {
    text-align: left;
    color: #111;
    border: 0;
    background: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
[data-expands] svg {
    margin-top: 0;
    width: 1em;
    height: 1em;
}
[data-expands][aria-expanded="true"] svg .up-strut {
    display: none;
}
[data-expands]:focus {
    outline: none;
}
p:empty {
    display: none;
}
*:not(p) + p:empty + p {
    margin-top: 2.25rem;
}

/* WCAG and principles */
.wcag li {
    font-size: 0.85em;
}
.principles p {
    font-size: 0.85rem;
    margin-top: 0.75rem;
}
.principles.with-desc > li + li,
.wcag.with-desc > li + li {
    border-top: 1px solid;
    margin-top: 0.75rem;
    padding-top: 0.75rem;
}

/* Site errors */
.site-error {
    padding: 1.5rem;
    background: #efefef;
}
.site-error strong {
    color: #C83737;
}

/* SVG icons */
a svg{
    height: 1.1em;
    width: 1.1em;
    margin-top: 0.3em;
}
button svg,
h1 svg,
h2 svg,
th svg,
li > svg {
height: 0.75em;
width: 0.75em;
}
h1 svg,
h2 svg,
th svg,
li > svg {
margin-right: 0.25em;
}
h1 svg,
h2 svg {
  margin-right: 0;
  width: 0.85em;
  height: 0.85em;
}
.wcag-icon {
  width: 1.25em;
}
.bookmark-icon {
  vertical-align: middle;
}
.link-icon {
  width: 0.75em;
  height: 0.75em;
}
.tags svg, .link-icon {
  vertical-align: middle;
}
.balloon-icon {
  width: 0.75em;
  margin-right: 0;
}
.print {
    white-space: nowrap;
    font-style: normal;
}

/* Color palettes */
.colors {
    display: flex;
    height: 5rem;
    margin: -0.25rem;
    list-style: none;
    flex-wrap: nowrap;
}
.colors li {
    margin: 0.25rem;
    flex: 1 0 auto;
    position: relative;
}
.colors span {
    line-height: 1;
    background-color: #111;
    color: #fefefe;
    font-size: 0.75rem;
    padding: 0.25rem;
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
}

/* Cross references */
.pattern-link {
    font-weight: bold;
}

/* Inline demos */
.demo-inner {
  -top: 1px solid;
  -bottom: 1px solid;
  padding: 1.5rem 0;
  position: relative;
}
[id^="js-demo-"] {
    all: initial;
    display: block;
}

/* Section links */
.h2-container {
    position: relative;
    font-size: 1.66rem;
}
.h2-container a {
    position: absolute;
    margin-top: 0;
    top: 0;
    line-height: 1;
    left: -1em;
    border-bottom: 0;
}

/* Single page layout */
.wrapper.print-version .main-and-footer {
    margin-left: 0;
}
.wrapper.print-version .intro-and-nav {
    position: static;
    border: 0;
    width: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper.print-version main {
    min-height: 0;
}
.wrapper.print-version .library-desc {
    font-size: 1rem;
}
.wrapper.print-version .intro-and-nav > div {
    height: auto;
}
.wrapper.print-version #patterns-list {
    margin-left: 0;
    margin-top: 1.5rem;
    display: block;
}
.wrapper.print-version .toc {
    font-size: 1rem;
}
.wrapper.print-version .toc h2 {
    font-size: 1.66rem;
}
.wrapper.print-version #patterns-list h3 {
    font-size: 1.25rem;
}
.wrapper.print-version .patterns {
  margin-top: 0;
}
.pattern-section:not(:last-child) {
    padding-bottom: 2.25rem;
    -bottom: 2px solid;
}
.pattern-section h1 {
    padding: 0 !important;
}

/* Custom 404 */
.custom-404 {
  text-align: center;
}
.custom-404 * {
  margin: 0;
}
.custom-404 svg {
  max-width: 100%;
}
/* Utilities */
.vh {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.gallery {
  display: flex;
  justify-content: center;
}

/* Media queries */
@media screen and (max-width: 45em){/*スマホ表示*/
    body a {
      hyphens: auto;
    }
    [role="banner"] {
        position: static;
        width: auto;
        height: auto;
    }
    .intro {
        text-align: center;
    }
    .intro-and-nav {
        -right: none;
    }
    .intro-and-nav > div {
        padding: 1.5rem 1.5rem 0 1.5rem;
    }
    .main-and-footer {
        margin: 0;
    }
    main {
      min-height: auto;
    }
    #patterns-list {
      margin-top: 0.5rem;
      border: 1px solid;
    }
    .patterns h3 {
        font-size: 1.5rem;
        padding: 1.5rem 1rem 0.75rem;
    }
    .patterns li:not(.pattern) {
        margin-top: 0;
    }
    .patterns ul ul {
        margin: 0;
    }
    .patterns li {
        margin-top: 0;
    }
    .pattern {
        font-size: 1rem;
    }
    .pattern a{
        padding: 1rem;
    }
    .pattern [aria-current] {
        clip-path: none;
        padding: 1rem;
    }
    .pattern + .pattern {
        border-top: 1px solid;
        margin-top: 0;
    }
    #menu-button {
        display: block;
    }
    #patterns-list {
        display: none;
    }
    .toc-link {
      display: none;
    }
    [aria-expanded="true"] + #patterns-list {
        display: block;
    }
    code {
      word-break: break-all;
    }
}
@media print {
    .wrapper:not(.print-version) .intro-and-nav,
    .wrapper:not(.print-version) [role="contentinfo"] {
        display: none;
    }
    .main-and-footer {
        margin-left: 0;
    }
    a {
        border: 0;
    }
    main a::after {
        content: " (" attr(href) ")";
        word-break: break-word;
    }
    main nav a::after {
        content: '';
    }
    .cmd code {
        background: #fefefe;
        color: #111;
    }
    pre code {
        white-space: pre-wrap !important;
    }
    .expandable-section {
        border: 0;
        padding: 0;
    }
    .expandable-section + p {
        margin-top: 0.75rem;
    }
    [id^="js-expandable-"] {
        display: block;
    }
    [data-expands] svg {
        display: none;
    }
    main *:not(.with-desc) {
        page-break-inside: avoid;
    }
    .note.warning {
        border-left: 0.5rem solid;
        background: none;
    }
}
@media (-ms-high-contrast: active) {
  img[src*=".svg"] {
    background: #fefefe;
    padding: 0.5rem;
  }
  .ticks li::before {
    content: '✓';
    background: none;
    width: auto;
    top: 0;
  }
  .note.warning {
      border-left: 0.5rem solid;
      background: none;
  }
}

::-moz-selection { /* Code for Firefox */
    background: rgba(0,0,0,.8);
    color: #fefefe;
}
  
::selection {
  background: rgba(0,0,0,.8);
  color: #fefefe;
}