@media screen and (max-width: 45rem){/*スマホviaでカラム幅を広げるが、関連記事だけは除く*/
    .main-and-footer > div > #main {
        width: 97% !important;
    }
}
/*個別記事と記事一覧のコンセプト文*/
.page_title{
    float: left;
    margin-bottom: 2.25rem;
    margin-left: 1.5%;
}
.concept,.concept_post{
    color:#656565;
}
@media screen and (max-width: 55rem){/*文字が重ならないように、45remではなく、55remで区切る*/
    .page_title_m{
        display: none;
    }
}
@media screen and (min-width: 55rem){/*文字が重ならないように、45remではなく、55remで区切る*/
    .concept{
        margin-top: 0;
        position: absolute;
        right: 6rem;
        background-color: rgba(255,255,255,0.7);
    }
    .concept{
        padding-top: 0.633rem;
    }
    .eyes_head{
        margin-top: 0;
    }
}
@media screen and (max-width: 45rem){/*スマホ、タブレット表示*/
    .concept{
        margin-top: -1rem;
        text-align: center;
        }
}
@media screen and (max-width:380px){
    .concept{
        font-size: 1.09rem !important;
    }
}
/*記事一覧の装飾文字のスライドイン*/
/*装飾文字の文字サイズ*/
.slidein1,.slidein2,.slidein3{
    font-size: 1.39rem;
}
h3.slidein3{
    font-size: 1.25rem;
}
.slide3_color{
    color:#3d74c6;
}
@media screen and (min-width: 69rem){/*1105px ~ */
    .slidein3{
        background-color: rgb(255,255,255,0);
        animation: anim3 2.5s forwards;
    }
    @keyframes anim3 {
        0% {
            transform: translate(135%);
        }
        100% {
            transform: translate(0%);
        }
    }
}
@media screen and (min-width: 45rem) and (max-width: 69rem){/*720px ~ 1105px*/
    .slidein3{
        background-color: rgb(255,255,255,0);
        animation: anim3 2.5s forwards;
    }
    @keyframes anim3 {
        0% {
            transform: translate(135%);
        }
        100% {
            transform: translate(0%);
        }
    }
}
@media screen and (max-width: 45rem){/*720px*/
    .slidein3{
        background-color: rgb(255,255,255,0);
        animation: anim3 2s forwards;
    }
    @keyframes anim3 {
        0% {
            transform: translate(135%);
        }
        100% {
            transform: translate(0%);
        }
    }
    .slidein3{
        margin-left: 1.5%;
    }
}
@media screen and (max-width: 375px){
    h2.slidein3{
        font-size: 1.34rem !important;
    }
}

/*記事カード*/
.description{
    font-size: 13px;
    line-height: 20.8px;
    padding-top: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;/*任意の行数を指定*/
}
.post_title{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.article{/*タイル並び*/
    display: flex;
    flex-flow: row wrap;
}
a .article_link{/*各記事サムネイルのurl下部線消去*/
    text-decoration: none !important;
}
.eyes{/*サムネイル画像*/
    text-align : center;
}
.quote{/*引用*/
    margin-top:0;
    padding-top: 3px;
    font-size: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1%;
    border-bottom: 0px;
}
/*サムネイル画像_関連記事は除く*/
.eyes_head{
    text-align: center;
}
.eyecatch_head{
    width: 100%;
    height: 200px;
}
@media screen and (min-width: 28rem){/*448px ~ */
    .eyecatch,.eyecatch_head{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
  }
  @media screen and (max-width: 28rem){/* ~ 448px*/    
    .eyecatch,.eyecatch_head{
        width: 98%;
        height: 200px;
        object-fit: cover;
        margin-top: 1%;
    }
    img.eyecatch{
        border-radius: 5px 5px 0 0;
    }
  }

/*タイル並べ*/
li.post,h2.slidein2{
    margin-top: 1rem;
}
@media screen and (min-width: 30rem) and (max-width: 45rem){/*スマホvia*/
    .article .post_toppgae:nth-child(3){/*トップページ3つ目の記事を消す*/
        display: none;
    }
}
@media screen and (min-width: 45rem){
    .main-and-footer > div > #main > div.main_list {
        max-width: 60rem;
        margin: 0 auto;
        padding-top: 3rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .main-and-footer > div > #main > ul {
        margin-top: 2.5rem;
        padding-left: 4%;
        padding-right: 3%;
    }
}
.article{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));/*最大幅は最小幅の2倍まで広がる*/
    grid-gap: 10px;
}
@media screen and (min-width: 45rem){
    .article {
        margin-right: 0.25rem;
        margin-left: 0.25rem;
    }
}
.post{/*タイル*/
    margin-top: 1rem;
    box-sizing: content-box;
    border: 2px solid;
    border-color: #ddd;
    border-radius: 10px;
    padding: 12px;
    padding-bottom: 8px;
}

/*Paginationボタン*/
ul.pagination{
    display: flex;
    flex-wrap: nowrap;
    width: 70%;/*画面サイズに合わせて変える*/
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 53rem){
    ul.pagination{
        width: 70%;
    }
}
@media screen and (max-width: 53rem){
    ul.pagination{
        width: 100%;
    }
}
@media screen and (max-width: 450px){
    .pagination__item--first,.pagination__item--last{
        display: none;
    }
}
li.pagination__item{
    width: 100%;
    margin: 1%;
    background-color: rgb(236, 236, 236);
    padding: 1.5%;
    border: 2px solid;
    border-color: rgb(236, 236, 236);
    border-radius: 3px;
}
li.pagination__item--current{/*現在のページ*/
    background-color: #FFF;
    border-color: rgb(92, 92, 92);
    border-radius: 3px;
}
a.pagination__link{
    display: block;
    border-bottom: none;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Noto Serif JP', serif;
}
.pagination__item--current a.pagination__link{/*現在のページ*/
    color: #3f7bd4;
}

/*dアニバナー*/
.docomo_affiriate{
    margin-top: 1rem;
    text-align: center;
}
.asp_ad{
    border-bottom: 0px
}

/*DMMTVバナー*/
@media screen and (max-width: 910px){
    .dmmtv_large{
        display: none;
    }
}
@media screen and (min-width: 911px){
    .dmmtv_small{
        display: none;
    }
}
.dmmtv_small,.dmmtv_large{
    text-align: center;
}
.dmmtv_small > a,.dmmtv_large >a{
    border-bottom: 0;
}
