/*Profil*/
.clear{
  clear: both;
}
.biotitle{
  
}
.biotext{/*bio本文*/
  margin-bottom: 5%;}
.xx{
  margin-top: 0;
}
.im{
  margin-top: 10px;
}
a{border-bottom: 0px;}
.account2{
  width: 80%;
  
}
.anime,.reading{
   padding-bottom: 50px;
 }

/*均等に配置させる*/
.icons{
  float: left;
  width: 100%;
  justify-content: space-around;
  padding-top: 35px;
  padding-bottom: 35px;
  text-decoration: none;
 }
 .icon{
   padding-left: 25px;
   padding-right: 25px;
 }

  /*アイコンフォント*/
  @font-face {
    font-family: 'LLxyo';
    src:  url('css/fonts/LLxyo.eot?slzfdx');
    src:  url('css/fonts/LLxyo.eot?slzfdx#iefix') format('embedded-opentype'),
      url('css/fonts/LLxyo.ttf?slzfdx') format('truetype'),
      url('css/fonts/LLxyo.woff?slzfdx') format('woff'),
      url('css/fonts/LLxyo.svg?slzfdx#LLxyo') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'LLxyo' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size:70px;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-hatenablog:before {
    content: "\e915";
  }