/*個別記事と記事一覧のコンセプト文*/
.page_title{
    float: left;
    margin-bottom: 2.25rem;
}
.concept,.concept_post{
    color:#656565;
}
@media screen and (max-width: 55rem){/*文字が重ならないように、45remではなく、55remで区切る*/
    .page_title_m{
        display: none;
    }
}
@media screen and (min-width: 55rem){/*文字が重ならないように、45remではなく、55remで区切る*/
    .concept_post{
        margin-top: 0;
        position: absolute;
        right: 6rem;
        background-color: rgba(255,255,255,0.7);
    }
    .concept_post{
        margin-top: 0.5rem;
        padding-top: 0.133rem;
        padding-bottom: 0.133rem;
    }
    .eyes_head{
        margin-top: 0;
    }
}
@media screen and (max-width: 45rem){/*スマホ、タブレット表示*/
    .concept_post{
        margin-top: -1rem;
        text-align: center;
        }
}
@media screen and (max-width: 380px){
    .concept_post{
        font-size: 1.09rem !important;
    }
}

/*サムネイル画像_関連記事は除く*/
.eyes_head{
    text-align: center;
}
.eyecatch_head{
    width: 100%;
    height: 200px;
}
@media screen and (min-width: 28rem){/*448px ~ */
    .eyecatch,.eyecatch_head{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
  }
  @media screen and (max-width: 28rem){/* ~ 448px*/    
    .eyecatch,.eyecatch_head{
        width: 98%;
        height: 200px;
        object-fit: cover;
        margin-top: 1%;
    }
    img.eyecatch{
        border-radius: 5px 5px 0 0;
    }
  }

/*冒頭の諸情報欄*/
.title_post{
    margin-top: 1rem;
}
.informations{
    font-family: Arial, 'Noto Sans JP', sans-serif;
    box-sizing: content-box;
    border: #000 solid 2px;
    padding: 5px;
    margin-top: 1rem;
}
.tags {
    margin-top: 0;
    font-size: 0.85rem;
}
.tags * {
    display: inline;
    margin: 0;
}
.tags strong {
    margin-right: 0.25rem;
}
.tags li {
    white-space: nowrap;
    margin: 0 0.25rem 0 0;
}
/* Date */
.date {
    margin-top: 0;
    font-size: 0.85rem;
}

/*本文*/
main p{/*PC表示で本文幅を狭くする*/
    max-width: 42rem;
}
/*目次*/
.li_toc{
    margin-top: 0.5rem;
    margin-right: 1rem;
}
@media screen and (min-width: 45rem)/*PC表示*/{
    .li_toc{
        float: left;
        width: 45%;
    }
}
/*Youtube埋め込み*/
.video, .video + h2, .video + h3, .video + p{
    margin-top: 1.25rem;
}
@media screen and (min-width: 45rem){/*PC表示*/
    .video{
        width:60%;              /*横幅いっぱいにwidthを指定*/
        min-width: 370px;
        padding-bottom: 34%/*39.375%*/;  /*高さをpaddingで指定(16:9)*/
        height:0px;              /*高さはpaddingで指定するためheightは0に*/
        position: relative;
    }
}
@media screen and (max-width: 45rem){/*タブレット、スマホ表示*/
    .video{
        width:100%;              /*横幅いっぱいにwidthを指定*/
        padding-bottom: 56.25%;  /*高さをpaddingで指定(16:9)*/
        height:0px;              /*高さはpaddingで指定するためheightは0に*/
        position: relative;
    }
    video{
        width:100%;
    }
}
.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*本文*/
/*画像のポップアップ拡大_1*/
@media screen and (min-width: 30rem){/*pcvia*/
    .img_post{
        position: relative;
        display: inline-block;
        width: auto;
        max-width: 30%;
    }
    .img_post label img{
        min-height: 8rem;
        width: auto 0;
    }
}
@media screen and (max-width: 30rem){/*スマホvia*/
    .img_post{
        position:relative;
        display:inline-block;
        padding-top: 0.5rem;
        margin-top: 0!important;
    }
    .img_post label img{/*縦向き画像のスマホ表示時の高さの調整*/
        max-height: 50vh;
    }
    .left{
        margin-right: 0.5rem!important;
    }
}
.rp_plus {
    position:absolute;
    padding: 4px 4px; /* ルーペアイコンを画像の角から離す量の設定 */  
    left: 0.5rem;
    top: -1.5rem;
    background-color: rgb(255,255,255, 0);
}
.my-parts {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 2.5rem;
	position: relative;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
	cursor: pointer;
    background-color: rgb(255,255,255, 0.4);
}
.my-parts div {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	width: 54%;
	height: 54%;
	border-radius: 50%;
	margin: -.28em 0 0 -.28em;
	border: 0.25rem solid #000;
}
.my-parts div::after {
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	left: 50%;
	width: 72%;
	height: 36%;
	background: #000;
	margin: .2em 0 0 .14em;
	transform: rotate(45deg);
}
.my-parts div p{
    background-color: rgb(255,255,255, 0);
    position: absolute;
    top: -0.5rem;
    left: 0.13rem;
    font-size: 1.2rem;
    font-weight: bold;
}
/*画像のポップアップ拡大_2*/
@media screen and (min-width: 30rem){
    .img_box{/*画像の高さを揃える*/
    display: flex;
    margin-top: 0;
    }
}
.img_post{
    display: flex;
    margin-top: 0;
}
.img_post label{
    justify-content: space-around;
    display: flex;
}
/*画像直下のテキストの調整*/
p:empty + p{
    margin-top: 0.75rem !important;
}
h2 + .img_box,
h3 + .img_box{
    margin-top: 1.2rem;
}
.img_post + .clear + p,
.img_post + p + p,
.clear + p + p, .img_box + p{
    margin-top: 8px !important;
}
.img_post{
    margin-top: 8px;
}
h2 + input + label + div, h3 + #popup + .img_post, h4 +.img_post{
    margin-top: 2.25rem !important;
}
.popup_img{
    max-height: 85vh;
    max-width: 50vw;
    margin-top: 0rem;
    margin-bottom: 0;
}
@media screen and (max-width: 45rem){
    .popup_img{
    max-height: 70vh;
    max-width: 85vw;
    margin-top: 0rem;
    margin-bottom: 0;
    }
}
.overlay { /* グレーの背景 */
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.5s 0s ease;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 0;
}
#pop-up01,#pop-up02,#pop-up03,#pop-up04,#pop-up05,#pop-up06,#pop-up07,#pop-up08,#pop-up09,#pop-up1,#pop-up2,#pop-up3,#pop-up4,#pop-up5,#pop-up6,#pop-up7,#pop-up8,#pop-up9,#pop-up10,#pop-up11,#pop-up12,#pop-up13,#pop-up14,#pop-up15,#pop-up16,#pop-up17,#pop-up18,#pop-up19,#pop-up20,#pop-up21,#pop-up22,#pop-up23,#pop-up24,#pop-up25,#pop-up26,#pop-up27,#pop-up28,#pop-up29,#pop-up30,#pop-up31,#pop-up32,#pop-up33,#pop-up34,#pop-up35,#pop-up36,#pop-up37,#pop-up38,#pop-up39,#pop-up40,#pop-up41,#pop-up42,#pop-up43,#pop-up44,#pop-up45,#pop-up46,#pop-up47,#pop-up48,#pop-up49,#pop-up50,#pop-up51,#pop-up52,#pop-up53,#pop-up54,#pop-up55,#pop-up56,#pop-up57,#pop-up58,#pop-up59,#pop-up60,#pop-up61,#pop-up62,#pop-up63,#pop-up64,#pop-up65,#pop-up66,#pop-up67,#pop-up68,#pop-up69,#pop-up70,#pop-up71,#pop-up72,#pop-up73,#pop-up74,#pop-up75,#pop-up76,#pop-up77,#pop-up78,#pop-up79,#pop-up80,#pop-up81,#pop-up82,#pop-up83,#pop-up84,#pop-up85,#pop-up86,#pop-up87,#pop-up88,#pop-up89,#pop-up90,#pop-up91,#pop-up92,#pop-up93,#pop-up94,#pop-up95,#pop-up96,#pop-up97,#pop-up98,#pop-up99,#pop-up100 {
  display: none;
}
@media screen and (min-width: 30rem){
    #pop-up01:checked + .overlay,#pop-up02:checked + .overlay,#pop-up03:checked + .overlay,#pop-up04:checked + .overlay,#pop-up05:checked + .overlay,#pop-up06:checked + .overlay,#pop-up07:checked + .overlay,#pop-up08:checked + .overlay,#pop-up09:checked + .overlay,#pop-up1:checked + .overlay,#pop-up2:checked + .overlay,#pop-up3:checked + .overlay,#pop-up4:checked + .overlay,#pop-up5:checked + .overlay,#pop-up6:checked + .overlay,#pop-up7:checked + .overlay,#pop-up8:checked + .overlay,#pop-up9:checked + .overlay,#pop-up10:checked + .overlay,#pop-up11:checked + .overlay,#pop-up12:checked + .overlay,#pop-up13:checked + .overlay,#pop-up14:checked + .overlay,#pop-up15:checked + .overlay,#pop-up16:checked + .overlay,#pop-up17:checked + .overlay,#pop-up18:checked + .overlay,#pop-up19:checked + .overlay,#pop-up20:checked + .overlay,#pop-up21:checked + .overlay,#pop-up22:checked + .overlay,#pop-up23:checked + .overlay,#pop-up24:checked + .overlay,#pop-up25:checked + .overlay,#pop-up26:checked + .overlay,#pop-up27:checked + .overlay,#pop-up28:checked + .overlay,#pop-up29:checked + .overlay,#pop-up30:checked + .overlay,#pop-up31:checked + .overlay,#pop-up32:checked + .overlay,#pop-up33:checked + .overlay,#pop-up34:checked + .overlay,#pop-up35:checked + .overlay,#pop-up36:checked + .overlay,#pop-up37:checked + .overlay,#pop-up38:checked + .overlay,#pop-up39:checked + .overlay,#pop-up40:checked + .overlay,#pop-up41:checked + .overlay,#pop-up42:checked + .overlay,#pop-up43:checked + .overlay,#pop-up44:checked + .overlay,#pop-up45:checked + .overlay,#pop-up46:checked + .overlay,#pop-up47:checked + .overlay,#pop-up48:checked + .overlay,#pop-up49:checked + .overlay,#pop-up50:checked + .overlay,#pop-up51:checked + .overlay,#pop-up52:checked + .overlay,#pop-up53:checked + .overlay,#pop-up54:checked + .overlay,#pop-up55:checked + .overlay,#pop-up56:checked + .overlay,#pop-up57:checked + .overlay,#pop-up58:checked + .overlay,#pop-up59:checked + .overlay,#pop-up60:checked + .overlay,#pop-up61:checked + .overlay,#pop-up62:checked + .overlay,#pop-up63:checked + .overlay,#pop-up64:checked + .overlay,#pop-up65:checked + .overlay,#pop-up66:checked + .overlay,#pop-up67:checked + .overlay,#pop-up68:checked + .overlay,#pop-up69:checked + .overlay,#pop-up70:checked + .overlay,#pop-up71:checked + .overlay,#pop-up72:checked + .overlay,#pop-up73:checked + .overlay,#pop-up74:checked + .overlay,#pop-up75:checked + .overlay,#pop-up76:checked + .overlay,#pop-up77:checked + .overlay,#pop-up78:checked + .overlay,#pop-up79:checked + .overlay,#pop-up80:checked + .overlay,#pop-up81:checked + .overlay,#pop-up82:checked + .overlay,#pop-up83:checked + .overlay,#pop-up84:checked + .overlay,#pop-up85:checked + .overlay,#pop-up86:checked + .overlay,#pop-up87:checked + .overlay,#pop-up88:checked + .overlay,#pop-up89:checked + .overlay,#pop-up90:checked + .overlay,#pop-up91:checked + .overlay,#pop-up92:checked + .overlay,#pop-up93:checked + .overlay,#pop-up94:checked + .overlay,#pop-up95:checked + .overlay,#pop-up96:checked + .overlay,#pop-up97:checked + .overlay,#pop-up98:checked + .overlay,#pop-up99:checked + .overlay,#pop-up100:checked + .overlay{
        visibility: visible;
        opacity: 1;
        z-index: 100000;
        background-color: #000000D0;
        width: 100%;
    }
}
.popWindow {
  border-radius: 5px;
  overflow: auto; /* スクロールバー用 */
  max-height: 100%; /* すき間 */
  min-width: fit-content; /* 横幅が広い時に白の部分が大きくならないため */
  max-width: 95%; /* すき間 */
  position: fixed;
  top: 50%; /* 中央に */
  left: 50%; /* 中央に */
  transform: translate(-50%, -50%); /* 中央に */
  z-index: 100010;
  font-size: 13px;
  line-height: 18px;
  margin: 10px auto;
  padding: 10px;
  background: #FFFD; /* 枠の色 */
  text-align: center; /* 文字を中央寄せ */
  transition: all 500ms ease-in-out;
}
.popWindow .ptitle {
  font-size: 15px;
  margin: 8px;
  color: #333;
}
.popWindow .close {
  position: absolute;
  top: 8px;
  right: 10px;
  transition: all 300ms;
  font-size: 24px;
  line-height: inherit;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  padding: 2px;
}
.popWindow .close:hover {
  color: #06D85F;
}
.popWindow::-webkit-scrollbar-track {
  background: none;
}
.popWindow::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.popWindow::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5px;
}
.clickable:hover {
  cursor: pointer;
}
@media screen and (max-width: 30rem){
  #pop-up:checked + .overlay, .my-parts {
    visibility: hidden;
    opacity: 0;
  }
}

/*Google Mapの埋め込み*/
.google_map{
    max-width:420px!important;
    height: 300px!important;
}
/*下部のタグ一覧*/
.informations_under{
    font-family: Arial, 'Noto Sans JP', sans-serif;
    box-sizing: content-box;
    border: #000 solid 2px;
    padding: 3px 8px 6px 8px;
    width: 90%;
    margin-top: 1rem;
}

/*アフィリンクボタン*/
.afi_box{
    margin-top: 0.5rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.afiimage{
    border-bottom: 0px;
    font-size: 11px;
}
.button001>a{
    font-size: 12px;
}
.afiimage{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /*制限したい行数*/
    overflow: hidden;
}
.aficard>img{
    display:none;
}
.afiimage>img{
    height: 150px !important;
}
@media screen and (max-width: 450px){
    .afiimage>img{
        height: 115px !important;
    }
}
.aficard > .afiimage + img + .button001>*{
    margin-bottom: 23px;
}
.aficard > .afiimage + img + .button001 + .button001>a{
    margin-top: -23px;
}
@media screen and (min-width: 1000px){
    .aficard{
        width: 16.6% !important;
        float: left;
        padding-right:2%;
        margin-top:2%;
    }
}
@media screen and (min-width: 900px) and (max-width: 1000px){
    .aficard{
        width: 20% !important;
        float: left;
        padding-right:2%;
        margin-top:2%;
    }
    .aficard:nth-child(6){
        display:none;
    }
}
@media screen and (min-width: 450px) and (max-width: 900px){
    .aficard{
        width: 25% !important;
        float: left;
        padding-right: 3%;
        margin-top:2%;
    }
}
@media screen and (max-width: 450px){
    .aficard{
        width: 33.3% !important;
        float: left;
        padding-right: 3%;
        margin-top:2%;
    }
    .afiimage{
        font-size:11px;
    }
    .button001>a{/*アフィリンク用ボタン*/
        padding: 2px 5px !important;
    }
}
.button001>a{/*アフィリンク用ボタン*/
    background: #eee;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    max-width: 150px;
    padding: 5px 10px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.button001 a:hover {
    background: #313131;
    color: #FFF;
}
.button001 a:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #313131;
    border-right: 3px solid #313131;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 13px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.button001 a:hover:after {
    border-color: #FFF;
}

/*関連記事*/
.main_related{
    margin-top: 1rem;
}
@media screen and  (min-width: 45rem){
    .main_related{
    padding-left: 4%;
    padding-right: 2%;
    }
}
.seealso1{
    margin-top: 0!important;
    background-color: #000;
}
.seealso2{
    margin-top: 1rem!important;
    background-color: #000;
}
.seealso1,.seealso2{
    margin-left: 1.5%;
    padding-left: 4%;
    padding-bottom: 0.1%;
    color: #fff;
    border: #000;
    border-style: solid;
    border-width: 3px !important;
    width: 200%;
    clip-path: polygon(100% 0%,100% 90%,100% 100%,2% 100%, 0% 0%);
}
.ul_seealso{
    margin-top: 0rem;
}
.related{
    max-width: 45rem;
}
.related{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-right: 0.1%;
    margin-left: 0.1%;
    margin-top: 0.5%;
    box-sizing: content-box;
    border: 2px solid;
    border-color: #ddd;
    border-radius: 10px;
    padding: 0.5% 0.3% 0.3% 0.3%;
}
@media screen and (min-width: 2500px){/*1168px ~ : 10枚表示*/
    .related{
        width:18%;
    }
    .ul_seealso{
        margin-left: 10rem;
        margin-right: 10rem;
    }
}
@media screen and (min-width: 73rem) and (max-width: 2500px){/*1168px ~ : 10枚表示*/
    .related{
        width:18%;
    }
}
@media screen and (min-width: 59rem) and (max-width: 73rem){/*945px ~ 1168px : 8枚表示*/
    .related{
        width:22%;
    }
    .related:nth-child(9),.related:nth-child(10){/*トップページ3つ目の記事を消す*/
        display: none;
    }
}
@media screen and  (min-width: 45rem) and (max-width: 59rem){/*720px ~ 945px : 6枚表示*/
    .related{
        width:29%;
    }
    .related:nth-child(7),.related:nth-child(8),.related:nth-child(9),.related:nth-child(10){/*トップページ3つ目の記事を消す*/
        display: none;
    }
}
@media screen and  (min-width: 38rem) and (max-width: 45rem){/*609px ~ 720px : 8枚表示*/
    .related{
        width:21%;
    }
    .related:nth-child(9),.related:nth-child(10){/*トップページ3つ目の記事を消す*/
        display: none;
    }
}
@media screen and  (min-width: 22rem) and (max-width: 38rem){/*352px ~ 609px : 6枚表示*/
    .related{
        width:30%;
    }
    .related:nth-child(7),.related:nth-child(8),.related:nth-child(9),.related:nth-child(10){/*トップページ3つ目の記事を消す*/
        display: none;
    }
}
@media screen and  (max-width: 22rem){/* ~ 352px*/
    .related{
        width:45%;
    }
    .related:nth-child(7),.related:nth-child(8),.related:nth-child(9),.related:nth-child(10){/*トップページ3つ目の記事を消す*/
        display: none;
    }
}
.eyecatch_related{
    border-radius: 4px 4px 4px 4px;
}
@media screen and (min-width: 31rem){/* ~ 496px*/
    .eyecatch_related{
        width: 100%;
        height: 80px;
        object-fit: cover;
    }
}
@media screen and (min-width: 24rem) and (max-width: 31rem){/*384px ~ 496px*/
    .eyecatch_related{
        width: 98%;
        height: 90px;
        object-fit: cover;
    }
}
@media screen and (max-width: 24rem) and (max-width: 31rem){/*384px ~ */
    .eyecatch_related{
        width: 98%;
        height: 70px;
        object-fit: cover;
    }
}
/*記事カード*/
.description{
    font-size: 13px;
    padding-top: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;/*任意の行数を指定*/
}
.post_title{
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
@media screen and (max-width: 450px){
    h6.post_title{
        font-size: 12px;
    }
}
@media screen and (min-width: 45rem){
    .post_title{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
.article{/*タイル並び*/
    display: flex;
    flex-flow: row wrap;
}
a .article_link{/*各記事サムネイルのurl下部線消去*/
    text-decoration: none !important;
}
.eyes{/*サムネイル画像*/
    text-align : center;
}
.quote{/*引用*/
    margin-top: 3px;
    font-size: 8px;
    margin-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1%;
    border-bottom: 0px;
}
